body {
  font-family: "Maven Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 500;
  color: #282f4e;
}

a,
.toc .toggleNav ul li.navListItemActive a {
  color: #4433d0;
}

.nav-footer {
  background-color: #2f3b51;
}

.nav-footer .wrapper {
  max-width: 1400px;
}

.nav-footer .copyright {
  text-align: left;
}

.tabs .tab-pane {
  padding: 16px 0;
}
